:root {
    --primary-dark: #251F1C;
    --primary-light: #E0DBD6;
    --almost-white: #eeeae6;
    --white: #ffffff; 
    --black: #000000;
    --inactive-black: #706E6B;
    --danger: #87170e;
    --sucess: #1e6524;
    --font-family: "Poppins", sans-serif;
}